@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter-tight);
  --font-mono: var(--font-michroma);
  --color-wit: #0F172A;
  --color-probity: #002C4C;
  --color-vision: #0050A5;
  --color-benevolence: #5FB7A0;
  --color-wiles: #FCA1A9;
  --color-nimbleness: #7DCBDC;
  --color-humility: #B3D6C3;
  --color-cheer: #E7F2A0;
  --color-verve: #ECAC70;
}

:root {
  --background: var(--color-wit);
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}